body {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.header {
  margin: auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  min-width: 50%;
}

.container > * {
  box-shadow: 10px 10px 43px #bebebe, -10px -10px 43px #ffffff;
}

.settings-container {
  border-radius: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
}

.settings-header {
  background-color: #e0e0e0;
  border-radius: 10px;
  font-size: 2.7rem;
  padding: 0.7rem 3rem;
}

#rangeValue {
  font-size: 30px;
  margin: 0;
}

.slider-container {
  margin: 10px 0;
  font-size: 2rem;
  text-align: center;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.draw-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.element {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.element.hover {
  background-color: lightgrey;
}

.element.selected {
  background-color: black;
}
